._back-end
._ajax_demo.zip
._AJAX.pdf
._ajax_regions.sql
CV/._20221113.pdf
src/img/._jquery-in-easy-steps-create-dynamic-web-page.png
._unknown2.png
._unknown3.png
._unknown4.png
src/img/._jquery-official.svg
src/img/._javascript-jquery-xml-ajax.png
src/img/._jquery-official.svg
src/img/._jquery-in-easy-steps-create-dynamic-web-page.png
src/img/jquery-in-easy-steps-create-dynamic-web-page.png
src/img/._javascript-jquery-xml-ajax.png
src/img/._jquery-official.svg